services:
  caddy:
    image: caddy:2.10.2-alpine
    container_name: caddy
    cap_add:
      - NET_ADMIN
    ports:
      - 80:80
      - 443:443
      - 443:443/udp
    volumes:
      - $PWD/Caddyfile:/etc/caddy/Caddyfile
      - $DOCKER_VOLUME_PATH/caddy_data:/data
      - $DOCKER_VOLUME_PATH/caddy_config:/config
    networks:
      - internal-net
    restart: unless-stopped
volumes:
  caddy_data:
    external: true
networks:
  internal-net:
    external: true
